.body {
    width: 100%;
    height: 100%;
}

.div_container {
    float: left;
    width: 100%;
    height: 100%;
    /*display: flow;*/
}

.div_left {
    float: left;
    width: 20%;
    height: 100%;
}

.div_center_right{
    float: left;
    width: 80%;
    height: 100%;
}

.div_center {
    float: left;
    width: 50%;
    height: 100%;
    /*border: 1px solid cadetblue;*/
    /*border-radius: 10px;*/
}

.div_score {
    float: left;
    width: 100%;
    height: 30%;
    border: 1px solid cadetblue;
    border-radius: 10px;
}

.div_court {
    float: left;
    width: 100%;
    height: 60%;
    border: 1px solid cadetblue;
    border-radius: 10px;
}

.div_graphList {

    float: left;
    width: 100%;
    height: 19%;
    border: 1px solid cadetblue;
    border-radius: 10px;
}

.div_right {
    float: left;
    width: 28%;
    height: 100%;
    border: 1px solid cadetblue;
    border-radius: 10px;
}


.div_title {
    width: 100%;
    height: 5%;
    border: 1px solid cadetblue;
    border-radius: 10px;
}

.div_player {
    width: 100%;
    height: 20%;
    border: 1px solid cadetblue;
    border-radius: 10px;
}


.div_gameScatterPlot {
    width: 100%;
    height: 70%;
    border: 1px solid cadetblue;
    border-radius: 10px;
}

.div_gameRoundScatterPlot {
    width: 100%;
    height: 35%;
    border: 1px solid cadetblue;
}
